<div class="row">
    <h3 class="center-align">Crear Usuario</h3>
    <form  class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input formControlName="nombres" id="first_name" type="text" class="validate">
                <label for="first_name">Nombres</label>
            </div>
            <div class="input-field col s6">
                <input formControlName="apellidos" id="last_name" type="text" class="validate">
                <label for="last_name">Apellidos</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input formControlName="correo" id="email" type="email" class="validate">
                <label for="email">Correo</label>
            </div>
            <div class="input-field col s6">
                <input formControlName="celular" id="celular" type="text" class="validate">
                <label for="celular">Celular</label>
            </div>            
        </div>
        <div class="boxes">
            <p class="center-align">
                <button class="waves-effect waves-light btn" type="submit">
                    <i class="material-icons right">save</i>Envia</button>
            </p>
            <p class="center-align">
                <button class="waves-effect waves-light btn" type="submit">
                    <i class="material-icons right">cancel</i>Salir</button>
            </p>
        </div>
        
    </form>
</div>
