<br>
<a routerLink="/administracion/crear-producto" class="btn">Crear Producto</a>
<br>
<table class="table responsive">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Precio
            </th>
            <th>
                Imagen
            </th>
            <th>
                Editar
            </th>
            <th>
                Eliminar
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoRegistros">
            <td>
                {{p.nombre}}
            </td>
            <td>
                {{p.precio}}
            </td>
            <td>
                <img src="{{p.imagen}}" class="imagenProducto">
            </td>
            <td>
                <a routerLink="/administracion/editar-producto/{{p.id}}"  class="btn" ><i class="material-icons">create</i></a>
            </td>
            <td>
                <a routerLink="/administracion/eliminar-producto/{{p.id}}"  class="btn" ><i class="material-icons">delete</i></a>
            </td>
        </tr>
    </tbody>
</table>
<br>
